<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>years</h3></li>
            <p>lorem ipsum dolor sit amet lorem, consectetur adipisicing elit
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nam, sapiente veniam quibusdam mollitia beatae adipisci maxime dignissimos quos esse, ullam doloribus illum in iusto cum culpa at? Molestias, obcaecati?
            </p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>years</h3></li>
            <p>lorem ipsum dolor sit amet lorem, consectetur adipisicing elit
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nam, sapiente veniam quibusdam mollitia beatae adipisci maxime dignissimos quos esse, ullam doloribus illum in iusto cum culpa at? Molestias, obcaecati?
            </p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>years</h3></li>
            <p>lorem ipsum dolor sit amet lorem, consectetur adipisicing elit
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nam, sapiente veniam quibusdam mollitia beatae adipisci maxime dignissimos quos esse, ullam doloribus illum in iusto cum culpa at? Molestias, obcaecati?
            </p>
        </ul>
    </div>
</div>