<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/instagram.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Aron Elias Ibañez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing
                 elit. Voluptates quam beatae accusantium delectus laborum repellendus quas es
                t soluta veniam labore assumenda illo, minus tempora. Cumque quae illo iusto facilis eveniet?
            </p>
        </span>
    </div>
</div>
